@model Assignment1.Models.Bookings
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Booking Confirmation</h1>

<p>Your booking with the following details has been confirmed:</p>

<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Booking ID:</strong> @Model.BookingId</p>



<p>Thank you for choosing our services!</p>
