@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <!-- Add your custom link below -->
    <p>
        Explore our travel options: <a asp-controller="Flights" asp-action="FlightSearch">Flights</a>,
        <a asp-controller="Hotels" asp-action="HotelSearch">Hotels</a>,
        <a asp-controller="Cars" asp-action="CarSearch">Cars</a>.
    </p>
</div>
