@model Assignment1.Models.Flights
@{
    ViewData["Title"] = "Flight Search";
}

<h1>FlightSearch</h1>
<form asp-controller="Flights" asp-action="FlightSearchResult" method="post">
    <label for="DepartureCity">Departure Airport:</label>
    <input type="text" id="DepartureCity" name="DepartureCity" required>

    <label for=" ArrivalCity">Arrival Airport:</label>
    <input type="text" id=" ArrivalCity" name=" ArrivalCity" required>

    <label for="departureDate">Departure Date:</label>
    <input type="date" id="departureDate" name="departureDate" required>

    <input type="submit" value="Search Flights">
</form>